:root {
	--background-color: rgb(245, 245, 245);
}

[data-theme="dark"] {
	--background-color: #121212;
}

body {
	background-color: var(--background-color);
}

footer {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
}

.footer-copyright {
	padding-bottom: 5px;
}

button, input {
	display: inline-block;
	float: left;
	margin: 0;
}

img {
	max-width: 30px;
	max-height: 30px;
}

.header-text {
	padding-left: 5px;
}

.wrapper-wrapper {
	text-align: center;
}

.collapsible {
	display: inline;

.secondary-content {
	
}